POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=retail_dwh
POSTGRES_PORT=5432
BI_VIEWER_USER=bi_viewer
BI_VIEWER_PASSWORD=change_me_read_only
GX_CONTEXT_ROOT=/app/great_expectations
DATA_DIR=./data
SUPERSET_PORT=8088
SUPERSET_SECRET_KEY=change_me_to_a_long_random_secret
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=change_me
SUPERSET_ADMIN_FIRSTNAME=Superset
SUPERSET_ADMIN_LASTNAME=Admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_METADATA_DB=superset_meta
